<div class="container" my-3>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Clients List</h2>
      </div>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="oncherche(f.value)">
          <div class="form-group">
            <label>chercher client:</label>
            <input type="text" name="id" ngModel>
            <button type="submit" class="btn btn-primary">chercher</button>
          </div>
        </form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>nom</th>
  
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients | async">
              <td>{{ client.id }}</td>
              <td>{{ client.nom }}</td>
  
              <td>
                <button class="btn btn-danger"
                (click)="deleteClient(client.id)">
                  Delete
                </button>
                <td>
                    <button class="btn btn-info"
                    (click)="updateClient(client.id)">
                      Update
                    </button>
                <button
                 class="btn btn-info"
                  style="margin-left: 10px"
                  (click)="clientDetails(client.id)">
                  Details
                </button>
              </td>
            </tr>
          </tbody>
          <button 
          class="btn btn-info"
           style="margin-left: 10px"
           (click)="createClient()">
            create
          </button>
        </table>
      </div>
    </div>
  </div>
  